In [1]:
import numpy as np
import pandas as pd

In [2]:
train2=pd.read_csv('C:\\Users\\hp\\Documents\\DATA SCIENCE\\trial_projects\\train_modified.csv')

In [3]:
test2=pd.read_csv('C:\\Users\\hp\\Documents\\DATA SCIENCE\\trial_projects\\test_modified.csv')

In [4]:
train2.dtypes

Item_Identifier                        object
Item_Weight                           float64
Item_Visibility                       float64
Item_MRP                              float64
Outlet_Identifier                      object
Item_Outlet_Sales                     float64
Outlet_Age                              int64
Item_Visibility_bins                    int64
Item_Type_Combined_Drinks               int64
Item_Type_Combined_Food                 int64
Item_Type_Combined_Non-consumables      int64
Outlet_Type_Grocery Store               int64
Outlet_Type_Supermarket Type1           int64
Outlet_Type_Supermarket Type2           int64
Outlet_Type_Supermarket Type3           int64
Item_Fat_Content_0                      int64
Item_Fat_Content_1                      int64
Outlet_Size_0                           int64
Outlet_Size_1                           int64
Outlet_Size_2                           int64
Outlet_Location_Type_0                  int64
Outlet_Location_Type_1                  int64
Outlet_Location_Type_2                  int64
dtype: object

In [5]:
#we divide the train2 dataset into independent X_train and remove the unnecessary variables
x_train2=train2.drop(['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales'], axis=1)
#we create a dependent variable y_train2 which is our target variable
y_train2=train2.Item_Outlet_Sales

In [6]:
test2.dtypes

Item_Identifier                        object
Item_Weight                           float64
Item_Visibility                       float64
Item_MRP                              float64
Outlet_Identifier                      object
Outlet_Age                              int64
Item_Visibility_bins                    int64
Item_Type_Combined_Drinks               int64
Item_Type_Combined_Food                 int64
Item_Type_Combined_Non-consumables      int64
Outlet_Type_Grocery Store               int64
Outlet_Type_Supermarket Type1           int64
Outlet_Type_Supermarket Type2           int64
Outlet_Type_Supermarket Type3           int64
Item_Fat_Content_0                      int64
Item_Fat_Content_1                      int64
Outlet_Size_0                           int64
Outlet_Size_1                           int64
Outlet_Size_2                           int64
Outlet_Location_Type_0                  int64
Outlet_Location_Type_1                  int64
Outlet_Location_Type_2                  int64
dtype: object

In [7]:
x_test2=test2.drop(['Item_Identifier','Outlet_Identifier'], axis=1)

In [8]:
x_test2

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Age,Item_Visibility_bins,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non-consumables,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2
0,20.750000,0.007565,107.8622,21,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
1,8.300000,0.038428,87.3198,13,1,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0
2,14.600000,0.099575,241.7538,22,2,0,0,1,1,0,0,0,1,0,0,1,0,0,0,1
3,7.315000,0.015388,155.0340,13,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0
4,12.792854,0.118599,234.2300,35,2,0,1,0,0,0,0,1,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,10.500000,0.013496,141.3154,23,1,0,1,0,0,1,0,0,0,1,0,0,1,1,0,0
5564,7.600000,0.142991,169.1448,11,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,1
5565,10.000000,0.073529,118.7440,18,2,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0
5566,15.300000,0.000000,214.6218,13,1,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0
5567,9.500000,0.104720,79.7960,18,2,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0

In [9]:
x_train2.head(2)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Age,Item_Visibility_bins,Item_Type_Combined_Drinks,Item_Type_Combined_Food,Item_Type_Combined_Non-consumables,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2
0,9.30,0.016047,249.8092,21,1,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
1,5.92,0.019278,48.2692,11,1,1,0,0,0,0,1,0,0,1,0,1,0,0,0,1

In [11]:
y_train2.head(2)

0    3735.1380
1     443.4228
Name: Item_Outlet_Sales, dtype: float64

In [12]:
from sklearn import model_selection
from sklearn.linear_model import LinearRegression

In [20]:
#create a train_test_split_model
xtrain,xtest,ytrain,ytest=model_selection.train_test_split(x_train2,y_train2,test_size=0.3, random_state=42)

In [21]:
#initialize the linear model
lm=LinearRegression()

In [22]:
#fit the training dataset into the model
lm.fit(xtrain,ytrain)

LinearRegression()

In [23]:
print(lm.coef_)

[-1.92692654e+00 -3.32746294e+02  1.58826212e+01 -3.19549640e+01
 -1.41755050e+01  8.83932211e+00  3.46875666e+01 -4.35268887e+01
 -1.63576909e+03 -1.25872012e+02 -3.48803423e+02  2.11044453e+03
 -1.45901761e+00  1.45901761e+00  5.39642616e+02 -3.11411308e+02
 -2.28231308e+02  1.88878689e+02  4.79867957e+01 -2.36865485e+02]

In [24]:
print(lm.intercept_)

1019.3780751894951

In [25]:
prediction=lm.predict(xtest)

In [26]:
prediction

array([2070.25767998, 3705.69772   , 2962.46996681, ..., 3533.89305865,
       3477.22169198, 1241.7263815 ])

In [36]:
#we validate the accuracy of the model by finding the mean squared error
from math import sqrt

In [40]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(ytest,prediction)
RMSE = math.sqrt(MSE)

In [41]:
print(RMSE)

1126.407106641178

In [42]:
#THE Root mean squared error is 1126.40. We can improve the mse by using other algorithms such as decision tree, random forest, etc

In [43]:
#we have successfully built a model to predict the sales. Now lets predict the sales

In [45]:
sales_predicted_per_store=lm.predict(x_test2)

In [46]:
sales_predicted_per_store

array([1789.6058103 , 1594.72524585, 1837.40378278, ..., 1823.78563072,
       3615.91286916, 1276.90636874])

In [47]:
#we create a dataframe to map the predicted sales to the items_identifier and outlet_identifier
test_predictions=pd.DataFrame({
    'Item_Identifier':test2['Item_Identifier'],
    'Outlet_Identifier':test2['Outlet_Identifier'],
    'Item_Outlet_Sales':sales_predicted_per_store},
columns=['Item_Identifier','Outlet_Identifier', 'Item_Outlet_Sales'])

In [48]:
test_predictions

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1789.605810
1              FDW14            OUT017        1594.725246
2              NCN55            OUT010        1837.403783
3              FDQ58            OUT017        2676.850457
4              FDY38            OUT027        5126.989630
...              ...               ...                ...
5563           FDB58            OUT046        2360.895690
5564           FDD47            OUT018        2431.178290
5565           NCO17            OUT045        1823.785631
5566           FDJ26            OUT017        3615.912869
5567           FDU37            OUT045        1276.906369

[5568 rows x 3 columns]